<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ScdTaskMapper">
    <resultMap type="ScdTask" id="ScdTaskResult">
        <id property="taskId" column=""/>
        <id property="title" column=""/>
        <id property="description" column=""/>
        <id property="publishDate" column=""/>
        <id property="deadline" column=""/>
        <id property="taskStatus" column=""/>
        <id property="teacherId" column=""/>
        <id property="participantsId" column=""/>
        <id property="base64Assets" column=""/>
        <association property="teacher" column="" javaType="SysUser" resultMap="SysUserResult"/>
        <collection property="participants" javaType="java.util.List" resultMap="SysUserResult"/>
    </resultMap>

    <resultMap type="SysUser" id="SysUserResult">
        <id     property="userId"       column="user_id"      />
        <result property="deptId"       column="dept_id"      />
        <result property="userName"     column="user_name"    />
        <result property="nickName"     column="nick_name"    />
        <result property="email"        column="email"        />
        <result property="phonenumber"  column="phonenumber"  />
        <result property="sex"          column="sex"          />
        <result property="avatar"       column="avatar"       />
        <result property="password"     column="password"     />
        <result property="status"       column="status"       />
        <result property="delFlag"      column="del_flag"     />
        <result property="loginIp"      column="login_ip"     />
        <result property="loginDate"    column="login_date"   />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <result property="remark"       column="remark"       />
        <association property="dept"    column="dept_id" javaType="SysDept" resultMap="deptResult" />
        <collection  property="roles"   javaType="java.util.List"           resultMap="RoleResult" />
    </resultMap>

    <resultMap id="deptResult" type="SysDept">
        <id     property="deptId"    column="dept_id"     />
        <result property="parentId"  column="parent_id"   />
        <result property="deptName"  column="dept_name"   />
        <result property="ancestors" column="ancestors"   />
        <result property="orderNum"  column="order_num"   />
        <result property="leader"    column="leader"      />
        <result property="status"    column="dept_status" />
    </resultMap>

    <resultMap id="RoleResult" type="SysRole">
        <id     property="roleId"       column="role_id"        />
        <result property="roleName"     column="role_name"      />
        <result property="roleKey"      column="role_key"       />
        <result property="roleSort"     column="role_sort"      />
        <result property="dataScope"     column="data_scope"    />
        <result property="status"       column="role_status"    />
    </resultMap>

    <select id="selectTasksList" parameterType="ScdTask" resultMap="ScdTaskResult">

    </select>

    <select id="selectTaskById" parameterType="Long" resultMap="ScdTaskResult">

    </select>

    <insert id="insertTask" parameterType="ScdTask">
        <!-- implemented by other teammates -->
    </insert>

    <update id="updateTask" parameterType="ScdTask">

    </update>

    <delete id="deleteTaskById" parameterType="Long">

    </delete>

    <update id="abortTaskById" parameterType="Long">

    </update>
</mapper>